﻿@{
    ViewBag.Title = "Download";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@model WebInterface.Models.file


<table>
    <tr>
        <th>File Name</th>
        <th>Link</th>
    </tr>
   
</table>


@using (Html.BeginForm("Download", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <table>
        <tr>
            <td><label for="file">Filename:</label></td>
            <td><input type="text" id="SearchText" name="fileName" style="width: 325px" /></td>
        </tr>

        <tr>
            <td><input type="submit" name="submit" value="Download" /></td>
        </tr>
    </table>
}
