﻿@model WebInterface.Models.file

<h2>@ViewBag.Title</h2>
@{
    ViewBag.Title = "Home Page";
}
<div>
    

    @using (Html.BeginForm("Delete", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {


        <table>
            <tr>
                <td><label for="file">Filename:</label></td>
                <td>
                    @Html.TextBoxFor(model => model.fileName)
                    @Html.ValidationMessageFor(model => model.fileName)
                    <button type="submit">Delete File</button>
                </td>
            </tr>

            @*<tr>
                <td><input type="submit" name="submit" value="Delete" /></td>
            </tr>*@
        </table>
    }


</div>