﻿@{
    ViewBag.Title = "My files";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>



@model List<string>


<table>
    <tr>
        <th>File Names</th>
    </tr>
    @for (var i = 0; i <= Model.Count - 1; i++)
    {
        <tr>
            <td>
                @Model[i].ToString()
            </td>
           
        </tr>
    }
</table>



