﻿@{
    ViewBag.Title = "Upload";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
   You can select your file from the upload button<br />
    The algorithm will encrypt the file into shares.<br />
    The file must be less than 64Kb.

</address>





@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <table>
        <tr>
            <td><label for="file">Filename:</label></td>
            <td><input type="file" name="File" id="File" /></td>
        </tr>
        
        <tr>
            <td><input type="submit" name="submit" value="Upload" /></td>
        </tr>
    </table>
}


<address>
    <strong>Support:</strong>   <a href="mailto:40110832@live.napier.ac.uk">40110832@live.napier.ac.uk</a><br />

</address>